node_modules
npm-debug.log
.git
.gitignore
Dockerfile
Dockerfile.prod
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.nyc_output
.cache
.parcel-cache
dist
build
